<!DOCTYPE html>
<html lang="en">
{{> baseHead}}
<body>
    {{> siteHeader}}
    <div>
        <h2>สวัสดีฟีลเฟรนด์ส</h2>
        <h3>วันนี้เพื่อนมีอะไรจะฝากถาม...</h3>
    </div>
    <p>สวัสดีหน้าแรก q={{ q }}, sortBy={{ sortBy }}</p> {{!-- {{ q }} คือตัวแปลที่ส่งมาจาก render --}}
    {{> siteFooter}}
</body>
</html>