<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โพสต์ที่ ID = {{ postId }} | Feel Friends </title>
</head>
<body>
    <p>นี่คือหน้าโพส ID={{ postId }}</p>
</body>
</html>