<!DOCTYPE html>
<html lang="en">
{{> baseHead}}
<body>
    {{> siteHeader}}
    <div>
        <h2>สร้างโพสต์ใหม่</h2>
        <h3>ถามเพื่อนๆได้เลย...</h3>
    </div>
    {{> siteFooter}}
</body>
</html>

{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สร้างโพสต์ใหม่ | Feel Friends</title>
</head>
<body>
    <p>หน้าฟอร์มสร้างโพสต์ใหม่ 555</p>
</body>
</html> --}}